<nav class="navbar  navbar-expand-lg navbar-inverse navbar-static-top">
    <div class="container-fluid">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse-show" data-target="#navbar" aria-expanded="false" aria-controls="navbar" (click)="isCollapsed= !isCollapsed">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        <div class="navbar-header">
            <a [routerLink]="['/']" class="navbar-brand">Recipe Book</a>
        </div>
        
        <div class="navbar-collapse"  id="navbar" [ngClass]="{'collapse': isCollapsed}">
            <ul class="nav navbar-nav">
                <li routerLinkActive="active" *ngIf="isAuthenticated"><a [routerLink] = "['/recipe']" > Recipes </a></li>
                <li routerLinkActive="active"> <a [routerLink] = "['/shopping-list']">Shopping List</a></li>
                <li routerLinkActive="active"> <a [routerLink] = "['/auth']" *ngIf="!isAuthenticated">Login</a></li>

            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li routerLinkActive="active" *ngIf="isAuthenticated"> <a style="cursor: pointer;" (click)="onLagout()"> Log out </a>  </li>
                <li class="dropdown" appDropDown>
                    <a  class="dropdown-toggle" role="button" *ngIf="isAuthenticated">Manage <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a (click)="onSaveData()" style="cursor: pointer;">Save Data </a> </li>
                        <li><a (click)="onFetchData()" style="cursor: pointer;">Fetch Data </a> </li>
                    </ul>
                </li>
            </ul>
        </div>
        
    </div>
</nav>

