 <div class="row">
    <div class="row">
        <div class="col-xs-10">
            <img [src]="recipe.imagePath" class="img-responsive" alt="Image Not Found" style="max-width: 350px;max-height: 250px;">
        </div>
    </div>

    <div class="row">
        <div class="col-xs-10">
            <h1 class="list-group-heading"> {{recipe.name}} </h1>
        </div>
    </div>


    <div class="row">
        <div class="col-xs-10">
            <div class="btn-group" appDropDown>
                <button class="btn btn-primary dropdown-toggle">
                    Manage Recipe <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a style="cursor: pointer;" 
                        (click)="addToShoppingList()"
                        >To Shopping List</a></li>
                    <li><a [routerLink] = "['edit']">Edit Recipe</a></li>
                    <li><a href="#">Delete Recipe</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-10">
            {{recipe.description}}
        </div>
    </div>
<br>
    <div class="row">
        <div class="col-xs-10">
            <p><b>Ingredients</b></p>
            <ul class="list-group">
                <li 
                class="list-group-item"
                *ngFor="let ingredient of recipe.ingredients">
                {{ingredient.name}} - {{ingredient.amount}} Rs
            </li>
            </ul>
        </div>
    </div>
</div>
